In [2]:
valor1 = input('Digite o número inteiro')
valor2 = input('Digite o outro número inteiro')

In [3]:
print(valor1 < valor2)
print(valor1 > valor2)
print(valor1 == valor2)
print(valor1 >= valor2)
print(valor1 <=valor2)

False
False
True
True
True

Listas vazias

In [10]:
L = []

In [11]:
L= list() #contrução de Listas

Lista com 3 elementos

In [15]:
Dias = [3,1,10]

In [16]:
Dias [0]

3

In [17]:
Dias[1]

1

In [18]:
Dias[2]

10

In [19]:
Z = [3,8,9]

In [20]:
Z [0] = 7 # Atribuição de um novo valor

In [21]:
Z

[7, 8, 9]

In [22]:
a = [81,82,83]

In [23]:
b = a[:]  # Cria um clone com fatia

In [24]:
print (a == b )

True

In [25]:
print (a is b )

False

In [26]:
b[0] = 5

In [27]:
print(a)

[81, 82, 83]

In [29]:
print(b)

[5, 82, 83]

In [30]:
uma_lista = ['a', 'b', 'c', 'd', 'e', 'f']

In [31]:
print(uma_lista[1:3])

['b', 'c']

In [32]:
print(uma_lista[:4])

['a', 'b', 'c', 'd']

In [33]:
print(uma_lista[3:])

['d', 'e', 'f']

In [34]:
print(uma_lista[:])

['a', 'b', 'c', 'd', 'e', 'f']

 2) Cria uma lista chamada minhalista com os seguintes itens: 76, 92.3,"oi", True, 4, 76. Depois execute os seguintes comandos.

In [ ]:
minhalista = [76, 92.3,"oi", True, 4, 76]

In [39]:
minhalista = [76, 92.3,"oi", True, 4, 76, "Pitomba", 76]

In [54]:
minhalista.append ("Pitomba", 76)

TypeError: 'str' object cannot be interpreted as an integer

In [40]:
minhalista[3] = "CIBELE"

In [41]:
minhalista[0] = 99

In [56]:
minhalista[:]

[99, 92.3, 'oi', 'CIBELE', 4, 76, 'Pitomba', 76]

3) O que é impresso pelo trecho de Código a seguir

In [59]:
uma_lista = [4,2,8,6,5]

In [61]:
uma_lista = uma_lista +["CIBELE"]

In [62]:
print(uma_lista)

[4, 2, 8, 6, 5, 'CIBELE']

TUPLA - tupla=()

In [63]:
tupla_numeros = (10,20,30)

In [64]:
tupla_numeros

(10, 20, 30)

TUPLA SEM PARENTESES  - Tupla=.

In [65]:
tupla_nova= 10,20,30

In [66]:
tupla_nova

(10, 20, 30)

TUPLA COM APENAS UM ELEMENTO

In [67]:
tupla_elemento  = 10.

In [68]:
tupla_elemento

10.0

TUPLA VAZIA

In [69]:
tupla_vazia=()

In [70]:
tupla_vazia

()

Dicionario - dicio = {}

In [71]:
dicio ={'chave': 'valor'}

In [72]:
print(type(dicio))

<class 'dict'>

1- O que acontece em cada sequencia de comandos a seguir

In [73]:
d = {'laranjas': 15, 'bananas': 35, 'siriguelas': 12}

In [76]:
d['bananas']

35

B-

In [78]:
d['pitomba'] = 20

In [79]:
len(d)

4

C-

In [80]:
'pitomba' in d

True

D-

In [81]:
'pears' in d

False

F-

In [82]:
del d ['laranjas']

In [83]:
'laranjas' in d

False

Concatenação e Repetição

In [84]:
frutas = ["pinha", "oiti coró", "jaca", "tamarindo"]

In [85]:
print([1,2] + [3,4])

[1, 2, 3, 4]

In [86]:
print(frutas + [6,7,8,9])

['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [89]:
print([0] * 4)

[0, 0, 0, 0]

In [92]:
print([1,2,["oi", "tchau"]]*2)

[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]